# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\school\JRESCLOUD3.0-demo\jres3-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
